.about-us {
    display: flex;
}

.about-us-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-text {
    text-align: justify;
}

.contact-us {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

@media only screen and (max-width:688px) {
    .about-us {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
        text-align: center;
    }

    .about-us-contact {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
    }

    .contact-us {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
    }

}